<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
    <h1>Single User</h1>
    <ul class="list-decimal list-outside bg-green-200 border flex-45">
        <li><%= user.name %></li>
        <li><%= user.email %></li>
        <li><%= user.age %></li>
    </ul>
</body>
</html>